<li class="result-card col s12 m6">
    <div class="card glass-blur">
        <div class="card-content">
            <span class="card-title">Course: {{courese_name}}</span>
            <p>Tee Date: {{date}}</p>
            <p>Tee Time: {{time}}</p>
            <p>Person: 3</p>
            <div class="custom-text">
                <p>Handicap: {{handicap}}</p>
                <p>Posted By: {{user_id}}</p>
            </div>
        </div>
        <div class="card-action text-center">
            <a href="#">Attend Tee Time</a>
        </div>
    </div>
</li>