<div class="container main-content">
  <h2 class="margin-auto text-center">My Tee Times</h2>
  <div class="divide-line"></div>

  <div class="result-section">
    <ul class="result-list row">

      {{#each myteetimes }}
      {{> myteetimeDetails}}
      {{!-- <li class="result-card col s12 m6">
        <div class="card glass-blur">
          <div class="card-content">
            <span class="card-title">Course: {{result.courese_name}}</span>
            <p>Tee Date: {{result.date}}</p>
            <p>Tee Time: {{result.time}}</p>
            <p>Person: 3</p>
            <div class="custom-text">
              <p>Handicap: {{result.handicap}}</p>
              <p>Posted By: {{result.user_id}}</p>
            </div>
          </div>
          <div class="card-action text-center">
            <a href="">Delete Tee Time</a>
          </div>
        </div>
      </li> --}}
      {{/each}}

    </ul>
  </div>

</div>