{{!-- <div class="banner">

  <div class="banner-content">
    <h1 class="text-center loginTitle text-white"></h1>
    <div class="row login-form">
      <form class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" name="email" type="email" class="validate">
          <label for="email">Email Address</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>

        <div class="col s12">
          <p class="text-center register-text">Don't have an account? <a href="">Register one now!</a></p>
        </div>
        <button class="btn waves-effect waves-light margin-auto d-block" type="submit" name="action">Log In
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>



  </div>
</div> --}}

<div class="container main-content">
  <div class="searching-section">
    <form class="searching-bar search-form">
      <div class="row">

        <div class="input-field col s12 m6">
          <select>
            <option value="" disabled selected>Select the course</option>
            <option value="Augusta National">Augusta National</option>
            <option value="Cypress Point Club">Cypress Point Club</option>
            <option value="Merion Golf Club">Merion Golf Club</option>
            <option value="Pine Valley">Pine Valley</option>
            <option value="Shinnecock Hills Golf Club">Shinnecock Hills Golf Club</option>
            <option value="Winged Foot Golf Club ">Winged Foot Golf Club </option>
          </select>
        </div>

        <input type="text" class="datepicker col s6 m3" placeholder="Choose date">

        <button class="btn waves-effect waves-light margin-auto d-block col" type="submit" name="action">Search
          <i class="material-icons right">search</i>
        </button>
      </div>
    </form>
  </div>

  <div class="divide-line"></div>

  <div class="result-section">
    <ul class="result-list row">
      {{test}}
      {{#if results.length}}
      {{#each results as |result|}}
      {{!-- {{> homepage-details}} --}}
      <li class="result-card col s12 m6">
        <div class="card glass-blur">
          <div class="card-content">
            <span class="card-title">Course: {{result.courese_name}}</span>
            <p>Tee Date: {{result.date}}</p>
            <p>Tee Time: {{result.time}}</p>
            <p>Person: 3</p>
            <div class="custom-text">
              <p>Handicap: {{result.handicap}}</p>
              <p>Posted By: {{result.user_id}}</p>
            </div>
          </div>
          <div class="card-action text-center">
            <a href="#">Attend Tee Time</a>
          </div>
        </div>
      </li>
      {{/each}}
      {{/if}}

      {{!-- <li class="result-card col s12 m6">
        <div class="card glass-blur">
          <div class="card-content">
            <span class="card-title">Course: Banana</span>
            <p>Tee Date: 03/30/23</p>
            <p>Tee Time: 2:00 PM</p>
            <p>Person: 3</p>
            <div class="custom-text">
              <p>Handicap: Expert</p>
              <p>Posted By: Nick</p>
            </div>
          </div>
          <div class="card-action text-center">
            <a href="#">Attend Tee Time</a>
          </div>
        </div>
      </li>

      <li class="result-card col s12 m6">
        <div class="card glass-blur">
          <div class="card-content">
            <span class="card-title">Course: Banana</span>
            <p>Tee Date: 03/30/23</p>
            <p>Tee Time: 2:00 PM</p>
            <p>Person: 3</p>
            <div class="custom-text">
              <p>Handicap: Expert</p>
              <p>Posted By: Nick</p>
            </div>
          </div>
          <div class="card-action text-center">
            <a href="#">Attend Tee Time</a>
          </div>
        </div>
      </li>

      <li class="result-card col s12 m6">
        <div class="card glass-blur">
          <div class="card-content">
            <span class="card-title">Course: Banana</span>
            <p>Tee Date: 03/30/23</p>
            <p>Tee Time: 2:00 PM</p>
            <p>Person: 3</p>
            <div class="custom-text">
              <p>Handicap: Expert</p>
              <p>Posted By: Nick</p>
            </div>
          </div>
          <div class="card-action text-center">
            <a href="#">Attend Tee Time</a>
          </div>
        </div>
      </li>

      <li class="result-card col s12 m6">
        <div class="card glass-blur">
          <div class="card-content">
            <span class="card-title">Course: Banana</span>
            <p>Tee Date: 03/30/23</p>
            <p>Tee Time: 2:00 PM</p>
            <p>Person: 3</p>
            <div class="custom-text">
              <p>Handicap: Expert</p>
              <p>Posted By: Nick</p>
            </div>
          </div>
          <div class="card-action text-center">
            <a href="#">Attend Tee Time</a>
          </div>
        </div>
      </li>

      <li class="result-card col s12 m6">
        <div class="card glass-blur">
          <div class="card-content">
            <span class="card-title">Course: Banana</span>
            <p>Tee Date: 03/30/23</p>
            <p>Tee Time: 2:00 PM</p>
            <p>Person: 3</p>
            <div class="custom-text">
              <p>Handicap: Expert</p>
              <p>Posted By: Nick</p>
            </div>
          </div>
          <div class="card-action text-center">
            <a href="#">Attend Tee Time</a>
          </div>
        </div>
      </li> --}}

    </ul>
  </div>

</div>